<div class="row">
  <div class="col l2"></div>
  <%= form_tag('/home/upload', multipart: true, method: :post, onsubmit: 'this.submit(); this.reset();',class: "col l8 s12") do %>
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Upload</span>
        <div class="row row-padding">
          <div class="file-field input-field col s12">
            <div class="btn btn-primary col s12 m2 l2">
              <span>Select</span>
              <%= file_field :excel, :file, required: true, onchange: "return checkfile(this);", accept: "text/csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" %>
            </div>
            <div class="file-path-wrapper col s12 m10 l10">
              <input class="file-path validate" type="text" placeholder="Please upload excel here in format xls, xlsx or csv">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= text_field_tag :email, '', required: true %>
            <%= label :email, "Email" %>
          </div>
        </div>
        <div class="card-action">
          <button class="btn center">Submit</button>
        </div>
      </div>
    </div>
    <% end %>
    <div class="col l2"></div>
</div>
<script>
    function checkfile(sender) {
        var validExts = new Array(".xls",".xlsx", ".csv");
        var fileExt = sender.value;
        fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
        if (validExts.indexOf(fileExt) < 0) {
            $('#excel_file').val('');
            alert("Invalid file selected, valid files are of " +
                validExts.toString() + " types.");
            return false;
        } else return true;
    }
</script>